@{
    Layout = null;
}

@model List<TaskWeb.Models.Task>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h3>All Tasks</h3>    
        <ul>
            @foreach (var t in Model)
            {
                if(t.Complete == true)
                {
                    <li>@string.Format("{0} (completed)", t.Name)</li>
                } else
                {
                    <li>@string.Format("{0} (active - ", t.Name) @Html.ActionLink("complete", "Complete", "Task", new { TaskID = t.TaskId }, null)@string.Format(")")</li>
                }
            }
        </ul>
    </div>
</body>
</html>
